/* Testimonials.module.css */
.container {
  background-image: url('/testimonials/bg.jpg');
  background-repeat: repeat-x; /* Repeat the background image horizontally */
  background-size: cover; /* Ensure the image covers the container */
  animation: moveBackground 30s linear infinite; /* Adjust the duration for speed */
  padding: 60px 20px;
  max-height: 600px;
  text-align: center;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute; /* Ensure the overlay covers the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
  z-index: 1; /* Place the overlay above other content */
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: #dfdfdf; /* Warm orange color */
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 2;
}

.testimonialContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  z-index: 2;
}

.card {
  background-color: #FFFFFF;
  border: 2px solid #ddd; /* Border color */
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 280px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  position: relative;
  cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.card:hover {
  background-color: #3dc2cb9b; /* Bright yellow on hover */
  transform: scale(1.05); /* Scale up on hover */
  z-index: 3; /* Bring the hovered card to the front */
}

.card.inactive {
  opacity: 0.7; /* Slightly transparent for inactive cards */
  transform: scale(0.95); /* Slightly smaller for inactive cards */
}

.bubble {
  width: 110px;
  height: 110px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #282626; /* Light peach color */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.image {
  width: 100%;
  border-radius: 50%;
}

.feedback {
  font-size: 16px;
  color: #333; /* Darker text color for better readability */
  margin-bottom: 20px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #171d1d, #1b1b1b);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #333; /* Darker text color */
  margin-bottom: 15px;
}

.heartContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.heart {
  font-size: 20px;
  color: #FF5252; /* Red for hearts */
  margin: 0 4px;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


